body{
    background:#edf4ff;
    font-family:Poppins,sans-serif;
}

.dashboard-container{
    background:#edf4ff;
    min-height:100vh;
    padding:30px;
}

/* Header */

.dashboard-header{
    background:linear-gradient(90deg,#4F46E5,#7C3AED);
    color:white;
    padding:20px;
    border-radius:18px;
    margin-bottom:25px;
    box-shadow:0 8px 25px rgba(0,0,0,.2);
}

.dashboard-header h2{
    color:white;
    font-weight:700;
}

.dashboard-header p{
    color:white;
}

/* Cards */

.card{
    border:none !important;
    border-radius:18px !important;
    box-shadow:0 10px 20px rgba(0,0,0,.12);
}

/* Summary Cards */

.income-card{
    background:#22C55E;
    color:white;
}

.expense-card{
    background:#EF4444;
    color:white;
}

.saving-card{
    background:#3B82F6;
    color:white;
}

.today-card{
    background:#F59E0B;
    color:white;
}

/* Numbers */

.card h2{
    font-size:34px;
    font-weight:bold;
    color:white;
}

.card h6{
    color:white;
}

/* Analytics */

.analytics-card{
    background:white;
}

.analytics-card h3{
    color:#4338CA;
    font-weight:700;
}

/* Pie Chart */

.chart-card{
    background:white;
}

/* Buttons */

.btn-primary{
    background:#4F46E5;
    border:none;
}

.btn-success{
    background:#10B981;
}

.btn-danger{
    background:#EF4444;
}

.btn-secondary{
    background:#0EA5E9;
}

.btn:hover{
    transform:scale(1.05);
}